* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    background-color: #daf1ff;
}

header {
    width: 100%;
    padding: 10px 0;
    background-color: royalblue;
    font-size: larger;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
}

select {
    padding: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 4px;
    background-color: #daf1ff;
    font-size: medium;
}


.row {
    display: flex;
    flex-wrap: nowrap;
}

.cell:hover {
    background-color: rgba(255, 255, 255, 0.8);;
}

button {
    background-color: snow;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    font-size: medium;
    font-weight: 600;
    color: #6281df;
}

.game-canvas {
    margin: 20px auto;
    padding: 5px 0 0 5px;
    background-color: #55b4ff;
    justify-content: center;
}

[class^="cell"] {
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

.cell-8 {
    margin-right: 5px;
    margin-bottom: 5px;
    height: 60px;
    width: 60px;
}

.cell-10 {
    margin-right: 5px;
    margin-bottom: 5px;
    height: 60px;
    width: 60px;
}

.cell-12 {
    margin-right: 5px;
    margin-bottom: 5px;
    height: 60px;
    width: 60px;
}

@media screen and (max-width: 1200px) {
    .cell-12 {
        height: 50px;
        width: 50px;
    }
}

@media screen and (max-width: 992px) {
    .cell-10 {
        height: 50px;
        width: 50px;
    }

    .cell-12 {
        height: 40px;
        width: 40px;
    }
}

@media screen and (max-width: 768px) {
    .cell-8 {
        height: 50px;
        width: 50px;
        margin-right: 2px;
        margin-bottom: 2px;
    }

    .cell-10 {
        height: 40px;
        width: 40px;
        margin-right: 2px;
        margin-bottom: 2px;
    }

    .cell-12 {
        height: 35px;
        width: 35px;
        margin-right: 2px;
        margin-bottom: 2px;
    }

    .game-canvas {
        padding: 2px 0 0 2px;
    }
}

@media screen and (max-width: 567px) {
    .cell-8 {
        height: 40px;
        width: 40px;
        margin-right: 1px;
        margin-bottom: 1px;
    }

    .cell-10 {
        height: 35px;
        width: 35px;
        margin-right: 1px;
        margin-bottom: 1px;
    }

    .cell-12 {
        height: 30px;
        width: 30px;
        margin-right: 1px;
        margin-bottom: 1px;
    }

    .game-canvas {
        padding: 1px 0 0 1px;
    }
}